.main{
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    min-width: 400px;
}
#msg {
    color: red;
    text-align: center;
    width: 100%;
}

.mainbox{
    width: 800px;
    height: 500px;
}
.line{
    
    width: 100%;
    border: 1px solid white;
    margin-bottom: 50px;
}
.loginbox{
    width: 270px;
    height: 100px;
    margin: 20px auto 62px ;
    font-size: 90px;    
    font-weight: bolder;
    
}
.login1{
    width: 300px;
    height: 100px;
    margin: 20px auto;
    
}
.txt_f {
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #a3a3a3;
}

.btn_submit {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    background: black;
    color: #fff;
    border: none;
    border-radius: 5px;

    font-size: 20px;
    font-weight: 900;
}
.find_wrap {
    list-style: none;
    padding: 0;
    margin: 5px 0;
    
    text-align: center;
}
.find_id {
    margin: 0 5px;
}
.idsave{
    color: #a2a2a2;
}

@media screen and (min-width: 700px) {
    .line{
        display: block;
        width: 100%;
        border: 1px solid;
        margin-bottom: 50px;
    }
    
}